<ion-header>
  <ion-navbar>
    <ion-title>
      Smart Office
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngFor="let valorAtual of valor | async">
    <ion-list>
      <ion-grid>
        <ion-row>
          <ion-col col-10>
            <h5> Lâmpada </h5>
          </ion-col>
          <ion-col *ngIf="!valorAtual.lamp" col-2>
            <button ion-button color="secondary" (click)="lampada(valorAtual.lamp)">On</button>
          </ion-col>
          <ion-col *ngIf="valorAtual.lamp" col-2>
            <button ion-button color="danger" (click)="lampada(valorAtual.lamp)">off</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
    <ion-list>
      <ion-grid>
        <ion-row>
          <ion-col col-10>
            <h5> Cafeteira </h5>
          </ion-col>
          <ion-col *ngIf="!valorAtual.cafe" col-2>
            <button ion-button color="secondary" (click)="cafe(valorAtual.cafe)">On</button>
          </ion-col>
          <ion-col *ngIf="valorAtual.cafe" col-2>
            <button ion-button color="danger" (click)="cafe(valorAtual.cafe)">off</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
    <ion-list>
      <h2> Ar-Condicionado: {{valorAtual.temp}}º / {{valorAtual.tempD}}º</h2>
      <ion-grid>
        <ion-row>
          <ion-col col-10>
            <h5> Automático </h5>
          </ion-col>
          <ion-col *ngIf="!automatico" col-2>
            <button ion-button color="secondary" (click)="automaticoAr(true)">On</button>
          </ion-col>
          <ion-col *ngIf="automatico" col-2>
            <button ion-button color="danger" (click)="automaticoAr(false)">off</button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid *ngIf="!automatico">
        <ion-row>
          <ion-col col-10>
            <h5> Liga/ Desliga </h5>
          </ion-col>
          <ion-col *ngIf="!valorAtual.ar" col-2>
            <button ion-button color="secondary" (click)="ligarAr(valorAtual.ar)">On</button>
          </ion-col>
          <ion-col *ngIf="valorAtual.ar" col-2>
            <button ion-button color="danger" (click)="ligarAr(valorAtual.ar)">off</button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item *ngIf="valorAtual.ar && !automatico">
        <ion-range min="6" max="20" step="1" snaps="true" [(ngModel)]="temp" color="danger" (ionChange)="mudouTemp()">
          <ion-icon range-left small color="danger" name="thermometer"></ion-icon>
          <ion-icon range-right color="danger" name="thermometer"></ion-icon>
        </ion-range>
      </ion-item>
    </ion-list>
    <button ion-button color="danger" (click)="localizar()">localizacao</button>
    <button ion-button color="secondary" (click)="salvarInstancia()">Salvar Localização</button>
    <h5>Latitude atual </h5>{{geoService.lat}}
    <h5>Logintude atual </h5>{{geoService.lng}}
    <h5>Distancia atual </h5>{{geoService.dist}}
  </div>
</ion-content>